* {
  font-family: "Open Sans", sans-serif;
  user-select: none;
}
.App {
  text-align: center;
  width: 100vw;
  min-height: 100vh; /* Utiliser min-height pour permettre le défilement */
  overflow-x: hidden;
  background-image: url("testt.png");
  background-repeat: no-repeat;
  background-size: cover;
}



body {
  margin: 0;
  padding: 0;
}
.button1 {
  margin: 10px;
  width: 150px;
}
h1 {
  font-size: 38px;
}
.ant-col.ant-col-6.ant-form-item-label {
  text-align: left;
}
h1 {
  font-size: 60px;
  color: white;
  text-shadow: 1px 1px 2px #2c698d, 0 0 25px #2c698d, 0 0 5px #2c698d;
  font-family: "Open Sans", sans-serif;
}
h2 {
  color: white;
}
.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}
